$paragraph-label-width: 200px;

.title-back-link {
  border-bottom: 1px solid transparent;
  color: $gray-dark-80;
  display: inline-block;
  margin-bottom: 30px;
  padding-left: 4px;
  padding-bottom: 2px;
  text-decoration: none;
  transition: 100ms;

  &:hover {
    border-bottom-color: $gray-dark-40;

    .fa {
      @include transform(translateX(-3px));
    }
  }

  .fa {
    margin-right: 5px;
    transition: 100ms;
  }
}

.about-title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about-subtitle {
  color: $gray-dark-60;
  font-size: $f-size-xxl;
  font-weight: 300;
  margin-bottom: 70px;
}

.paragraph-container {
  margin-bottom: 60px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.paragraph-label-container {
  float: left;
  width: $paragraph-label-width;

  .paragraph-label {
    color: $gray-dark;
    font-size: $f-size-xl;
    font-weight: 600;
    line-height: 1.2;
  }
}

.paragraph-text-container {
  margin-left: $paragraph-label-width;
  margin-bottom: 40px;
  width: calc(100% - #{$paragraph-label-width});

  .paragraph-text {
    color: $gray-dark-80;
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 23px;
  }

  .resume-entry {
    line-height: 1.5;
    margin-bottom: 4px;
  }

  .resume-entry-title {
    color: $gray-dark;
    display: inline-block;
    font-weight: 600;
    margin-right: 10px;
  }

  .resume-entry-position {
    display: inline-block;
  }

  a {
    border-bottom: 1px solid $gray-dark-20;
    color: $gray-dark;
    display: inline-block;
    height: 25px;
    font-weight: 500;
    text-decoration: none;
    transition: 100ms;

    &:hover {
      border-bottom-color: $gray-dark-60;
    }
  }
}

.course-header {
  font-size: 17px;
  margin: 15px 0;
}

.resume-courses {
  display: flex;
  flex-flow: row wrap;
  max-width: 500px;

  .course-title {
    color: $gray-dark;
    font-weight: 600;
    margin-right: 8px;
  }

  li {
    margin-bottom: 9px;
    width: 50%;
  }
}

.resume-list {
  line-height: 1.5;
  margin-bottom: 20px;

  .resume-list-item {
    margin-bottom: 4px;
  }
}

.skills-container {
  @include prefixer(column-count, 2);
  @include prefixer(column-gap, 20px);

  &>div {
    display: inline-block;
  }

}

.entry-list {
  list-style: square inside;
}

@media (max-width: 1000px) {
  .about-container {
    margin: 0 auto;
  }
}

@media (max-width: 850px) {
  .about-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 650px) {
  .light-container {
    max-width: 500px;
  }

  .paragraph-container {
    margin-bottom: 40px;
  }

  .paragraph-label-container {
    float: none;
    margin-bottom: 20px;
    width: 100%;
  }

  .paragraph-label {
    border-bottom: 2px solid $gray-dark-60;
    display: inline-block;
    line-height: 1;
    position: relative;
  }

  .paragraph-text-container {
    margin-left: 0;
    width: 100%;
  }

  .resume-courses {
    li {
      width: 100%;
    }
  }

  .skills-container {
    @include prefixer(column-count, 1);
    @include prefixer(column-gap, 0);

    &>div {
      display: block;
    }
  }
}
