.project-container {
  max-width: 900px;

  .project-nav {
    background: white;
    padding: 20px;

    .title-back-link {
      margin-bottom: 0;
    }
  }
  .project-cover {
    height: 400px;
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

  }

  .project-title-container {
    position: absolute;
    bottom: 70px;
    left: 80px;
    -webkit-user-select: none;

    .title {
      animation: fadein both 0.5s;
      background: white;
      display: inline-block;
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 10px;
      padding: 8px 8px 7px 8px;
    }

    .subtitle {
      animation: fadein both 0.5s;
      animation-delay: 0.2s;
      background: white;
      display: inline-block;
      font-size: $f-size-xl;
      padding: 7px;
    }
  }

  .light-container {
    animation: none;
  }

  .article-content {
    h1, h2 {
      margin-bottom: 10px;
      margin-top: 40px;
    }


    h1 {
      font-size: 35px;
      font-weight: 600;
    }

    h2 {
      font-size: $f-size-xl;
      font-weight: 600;
    }

    p {
      color: $gray-dark-80;
      font-size: 20px;
      line-height: 1.6;
      margin-bottom: 24px;
    }

    a.link {
      display: inline-block;
      line-height: 1.2;
    }

    ol, ul {
      margin: 30px 20px 40px;
      padding: 0 20px;
    }

    ul {
      list-style: square;
    }

    li {
      color: $gray-dark-80;
      font-size: 20px;
      line-height: 1.6;
      margin: 15px 0;
      padding-left: 10px;
    }

    strong {
      font-weight: 600;
    }

    em {
      font-style: italic;
    }

    @media (max-width: 760px) {
      h1 {
        font-size: $f-size-xxl;
      }

      h2 {
        font-size: $f-size-lg;
      }

      p, li {
        font-size: 18px;
      }

      ol, ul {
        margin-left: 15px;
        padding: 0 10px;
      }
    }
  }

  .image-container {
    margin: 70px 0;

    &.border {
      border: 1px solid $gray-light;
    }

    img {
      border: 1px solid $gray-dark-20;
      box-shadow: 1px 1px 10px $gray-dark-20;
      height: 100%;
      margin-bottom: 20px;
      width: 100%;
      object-fit: cover;
      vertical-align: middle;
    }

    figcaption {
      color: $gray-dark-60;
      font-size: $f-size-sm;
      line-height: 1.4;
      text-align: center;
    }
  }

  .article-bottom-nav {
    margin-top: 50px;
  }

  @media (max-width: 760px) {
    .project-title-container {
      left: 0;
      padding: 0 20px;
      width: 100%;

      .title {
        font-size: $f-size-xxl;
      }

      .subtitle {
        font-size: $f-size-lg;
      }
    }

    .image-container {
      margin: 50px 0;
    }
  }

}

#gradescope-project-cover {
  &:before {
    background: #20c5e6;
    background: -moz-linear-gradient(bottom right, #1998B0 0%, #2CCFF0 100%);
    background: -webkit-linear-gradient(left top, #1998B0 0%, #2CCFF0 100%);
    background: linear-gradient(135deg, #1998B0 0%, #2CCFF0 100%);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.8;
    position: absolute;
    width: 100%;
  }
}
