.spotify-body {
  padding: 0;
}

#spotify-article {
  line-height: 1.6;
  padding: 0 15px 80px;

  .navbar {
    padding-top: 40px;
  }

  .spotify-title-container {
    height: 100vh;
    line-height: 1.6;
    opacity: 0;
    z-index: -1;
  }

}

@keyframes fadein {
  to {
    opacity: 1;
  }
}

@keyframes slideup {
  from {
    @include transform(translateY(200px));
  } to {
    opacity: 1;
  }
}
