@import url(https://fonts.googleapis.com/css?family=Hind:400,600,500,300);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }

q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* Use this for transforms Syntax example: @include transform(translateY(-50px)); */
/* Use this for transforms Syntax example: @include appearance(none); */
* { box-sizing: border-box; }

body { background-color: #F3F3F3; font-family: "Hind"; }

a.link { border-bottom: 1px solid rgba(58, 71, 80, 0.4); color: #3A4750; text-decoration: none; transition: 100ms; }
a.link.light { border-bottom-color: rgba(243, 243, 243, 0.4); color: #F3F3F3; }

a.button { background-color: rgba(33, 133, 213, 0.8); border-radius: 2px; color: rgba(255, 255, 255, 0.8); display: inline-block; font-size: 13px; padding: 10px 10px; text-decoration: none; transition: 100ms; }
a.button:hover { background-color: #2185D5; }

.main-container { margin: 0 auto; max-width: 1000px; }
.main-container:after { clear: both; content: ""; height: 0; visibility: hidden; display: block; }

.homepage-box { margin-bottom: 20px; padding: 30px; position: relative; }

.cover-container { background-color: #3A4750; margin-top: 20px; padding: 5px; position: relative; -webkit-user-select: none; }
.cover-container .title-container { top: 100px; left: 80px; position: absolute; }
.cover-container .title-container .name { font-size: 50px; font-weight: 600; margin-bottom: 10px; }
.cover-container .title-container .tagline { font-size: 26px; font-weight: 300; margin-bottom: 50px; }
.cover-container .title-container .description { font-size: 18px; font-weight: 300; line-height: 1.4; margin-bottom: 40px; max-width: 500px; }
.cover-container .title-container a { display: inline-block; height: 24px; }
.cover-container .title-container a:hover { border-bottom-color: #F3F3F3; }
.cover-container .social-title { color: rgba(255, 255, 255, 0.8); font-size: 18px; margin-bottom: 15px; }
.cover-container .icon-container .icon { margin-right: 25px; opacity: 0.7; transition: 100ms; }
.cover-container .icon-container .icon img { height: 25px; }
.cover-container .icon-container .icon:hover { opacity: 1; }

.title-container { color: #F3F3F3; }

.featured-project { background: url("../../images/home/gradescope-background.png"); height: 300px; overflow: hidden; position: relative; }
.featured-project .project-title { top: 50px; left: 60px; position: absolute; }
.featured-project .project-type { color: rgba(255, 255, 255, 0.6); font-size: 15px; margin-bottom: 7px; }
.featured-project .project-name { font-size: 26px; font-weight: 500; margin-bottom: 20px; }
.featured-project .project-description { color: rgba(255, 255, 255, 0.9); line-height: 1.4; max-width: 370px; }
.featured-project .button { background: transparent; border: 1px solid #F3F3F3; color: #F3F3F3; font-size: 13px; margin-top: 20px; }
.featured-project .button:hover { background: rgba(243, 243, 243, 0.2); }
.featured-project .featured-photo { bottom: -5px; box-shadow: 1px 1px 20px rgba(58, 71, 80, 0.4); position: absolute; right: 80px; width: 420px; }
.featured-project .featured-photo img { height: 100%; width: 100%; }

.project-col { float: left; width: 50%; }
.project-col:nth-of-type(odd) { padding-right: 10px; }
.project-col:nth-of-type(even) { padding-left: 10px; }

.project { background-color: #8FACC0; height: 250px; overflow: hidden; padding: 0; position: relative; transition: 250ms; }
.project .project-title { bottom: 0px; padding: 0 50px; position: absolute; transition: 250ms; z-index: 1; }
.project .project-type { color: rgba(255, 255, 255, 0.6); font-size: 15px; margin-bottom: 7px; }
.project .project-name { font-size: 26px; font-weight: 500; margin-bottom: 15px; }
.project .project-description { color: rgba(255, 255, 255, 0.8); font-size: 15px; line-height: 1.3; opacity: 0; transition: 250ms; visibility: hidden; }
.project .button { right: 50px; opacity: 0; position: absolute; top: 8px; transition: 150ms; visibility: hidden; }

.project-image { height: 100%; transition: 300ms; }
.project-image img { height: 100%; object-fit: cover; width: 100%; }

.hover-overlay { background-color: #3A4750; height: 160px; left: 0; position: absolute; top: 100%; transition: 300ms; width: 100%; }

.project:hover .project-title { -webkit-transform: translateY(-30px); -moz-transform: translateY(-30px); -ms-transform: translateY(-30px); -o-transform: translateY(-30px); transform: translateY(-30px); }
.project:hover .project-image { -webkit-transform: translateY(-100px); -moz-transform: translateY(-100px); -ms-transform: translateY(-100px); -o-transform: translateY(-100px); transform: translateY(-100px); }
.project:hover .hover-overlay { -webkit-transform: translateY(-160px); -moz-transform: translateY(-160px); -ms-transform: translateY(-160px); -o-transform: translateY(-160px); transform: translateY(-160px); }
.project:hover .project-description { opacity: 1; visibility: visible; }
.project:hover .button { opacity: 1; visibility: visible; }
