/* Import partial files */
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

strong {
  font-weight: 600;
}

.link {
  color: #2185D5;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}

.homepage-link {
  color: #2185D5;
  display: inline-block;
  font-weight: 500;
  position: relative;
  text-decoration: none;
}
.homepage-link:before {
  background: rgba(33, 133, 213, 0.1);
  content: "";
  display: block;
  position: absolute;
  left: 5px;
  bottom: 2px;
  height: 12px;
  width: 0;
  -webkit-transition: width 0s ease, background 0.4s ease;
  transition: width 0s ease, background 0.4s ease;
}
.homepage-link:after {
  background: rgba(33, 133, 213, 0.1);
  content: "";
  display: block;
  position: absolute;
  right: -5px;
  bottom: 2px;
  height: 12px;
  width: 0;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
.homepage-link:hover:before {
  width: 100%;
  -webkit-transition: width 0.4s ease;
  transition: width 0.4s ease;
}
.homepage-link:hover:after {
  background: transparent;
  width: 100%;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
}

.stripe-link {
  color: #635bff;
}
.stripe-link:before {
  background: #635bff20;
}
.stripe-link:after {
  background: #635bff20;
}

@media (max-width: 600px) {
  .homepage-link:before, .homepage-link:after {
    content: none;
  }
}
/* Import page files */
.main-container {
  font-size: 20px;
  margin: 0 auto;
  margin-top: 30px;
  max-width: 500px;
  padding: 40px 10px;
}
.main-container #fb {
  color: #4267b2;
}
.main-container .title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 28px;
}
.main-container .desc {
  color: rgba(58, 71, 80, 0.9);
  margin-bottom: 24px;
}
.main-container hr {
  opacity: 0.4;
}

.work-container {
  margin-top: 36px;
}
.work-container a {
  color: rgba(58, 71, 80, 0.7);
  border-radius: 8px;
  display: block;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0 -15px;
  padding: 12px 15px;
  transition: background 100ms;
}
.work-container a:hover {
  background: rgba(243, 243, 243, 0.8);
}
.work-container .company {
  color: rgba(58, 71, 80, 0.9);
  font-weight: 500;
}
.work-container .slash {
  font-weight: 300;
  color: rgba(58, 71, 80, 0.6);
  margin: 0 5px;
}
.work-container .role {
  color: rgba(58, 71, 80, 0.6);
}
.work-container .year {
  margin-left: auto;
  font-family: "Roboto Mono";
  font-size: 16px;
}

.social-container {
  margin: 12px auto;
  font-size: 18px;
}
.social-container .link {
  margin-right: 12px;
}

.nav-link {
  display: block;
  font-size: 16px;
  margin-bottom: 16px;
}

.article-container .title {
  margin-bottom: 12px;
}

.article-body {
  animation: fadein 0.5s both;
  animation-delay: 0.3s;
}

.article-content {
  color: black;
  font-size: 16px;
  margin-top: 36px;
}
.article-content p {
  margin-bottom: 16px;
}

.article-img {
  margin: 20px auto;
  text-align: right;
}
.article-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  max-height: 500px;
}
.article-img label {
  color: rgba(58, 71, 80, 0.8);
  font-size: 13px;
  font-weight: 400;
  margin: 10px auto;
}

.article-list {
  list-style: square;
  margin-bottom: 16px;
  padding-left: 30px;
}

.article-section-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 8px;
}

.code-block {
  background: rgba(143, 172, 192, 0.1);
  color: rgba(58, 71, 80, 0.8);
  display: inline-block;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  padding: 10px;
}

/*# sourceMappingURL=main.css.map */
