@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500');
@import url('https://fonts.googleapis.com/css?family=Lora');

body {
  color: $gray-dark;
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
}

::selection {
  background: $gray-dark;
  color: white;
}
::-moz-selection {
  background: $gray-dark;
  color: white;
}

.serif {
  font-family: "Palantino", "Lora", "Georgia", serif;
}

.link {
  border-bottom: 1px solid $gray-dark-40;
  color: inherit;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid $gray-dark;
    color: $gray-dark;
  }
}

.inline-link {
  color: inherit;
  position: relative;
  text-decoration: none;
  transition: 80ms;

  &:after {
    background: $blue-20;
    bottom: -2px;
    content: "";
    height: 8px;
    left: 0;
    position: absolute;
    transition: 60ms;
    width: 100%;
    z-index: -1;
  }

  &:hover {
    color: $gray-dark;
  }

  &:hover:after {
    height: calc(100% + 3px);
  }
}
