// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

strong {
  font-weight: 600;
}

.link {
  color: $blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.dark-mode {
  .link { color: $blue-light; }
}