@import url(https://fonts.googleapis.com/css?family=Hind:400,600,500,300);

* {
  box-sizing: border-box;
}

body {
  background-color: $gray-light;
  font-family: "Hind";
  -webkit-font-smoothing: antialiased;
}

.main-container {
  margin: 20px auto 40px;
  max-width: 1000px;

  @include clearAfter;
}

a.link {
  border-bottom: 1px solid $gray-dark-40;
  color: $gray-dark;
  text-decoration: none;
  transition: 100ms;

  &.light {
    border-bottom-color: $gray-light-40;
    color: $gray-light;
  }
}

a.button {
  background-color: $blue-80;
  border-radius: 2px;
  color: $white-80;
  display: inline-block;
  font-size: $f-size-sm;
  font-weight: 500;
  padding: 10px 10px;
  text-decoration: none;
  transition: 100ms;

  &:hover {
    background-color: $blue;
  }
}

.clearfix {
  clear: both;
}

@media (max-width: 970px) {
  .main-container {
    margin: 0 auto;
  }
}
