$white                  : #FFFFFF;
$white-90               : rgba($white, 0.90);
$white-80               : rgba($white, 0.80);
$white-60               : rgba($white, 0.60);
$white-40               : rgba($white, 0.40);
$white-20               : rgba($white, 0.20);
$white-10               : rgba($white, 0.10);

$gray-light             : #F3F3F3;
$gray-light-80          : rgba($gray-light, 0.80);
$gray-light-60          : rgba($gray-light, 0.60);
$gray-light-40          : rgba($gray-light, 0.40);
$gray-light-20          : rgba($gray-light, 0.20);

$blue-gray              : #8FACC0;
$blue-gray-80           : rgba($blue-gray, 0.80);
$blue-gray-60           : rgba($blue-gray, 0.60);
$blue-gray-40           : rgba($blue-gray, 0.40);
$blue-gray-20           : rgba($blue-gray, 0.20);
$blue-gray-10           : rgba($blue-gray, 0.10);

$gray-dark              : #3A4750;
$gray-dark-90           : rgba($gray-dark, 0.90);
$gray-dark-80           : rgba($gray-dark, 0.80);
$gray-dark-60           : rgba($gray-dark, 0.60);
$gray-dark-40           : rgba($gray-dark, 0.40);
$gray-dark-20           : rgba($gray-dark, 0.20);
$gray-dark-10           : rgba($gray-dark, 0.10);

$blue                   : #2185D5;
$blue-80                : rgba($blue, 0.80);
$blue-60                : rgba($blue, 0.60);
$blue-40                : rgba($blue, 0.40);
$blue-20                : rgba($blue, 0.20);
$blue-10                : rgba($blue, 0.10);



// Text Sizes
$f-size-xs              : 11px;
$f-size-sm              : 13px;
$f-size-md              : 15px;
$f-size-lg              : 18px;
$f-size-xl              : 22px;
$f-size-xxl             : 26px;
