$gray     : #F3F3F3;
$gray-80  : rgba($gray, 0.80);
$gray-60  : rgba($gray, 0.60);
$gray-40  : rgba($gray, 0.40);
$gray-20  : rgba($gray, 0.20);

$black    : #3A4750;
$black-90 : rgba($black, 0.90);
$black-80 : rgba($black, 0.80);
$black-70 : rgba($black, 0.70);
$black-60 : rgba($black, 0.60);
$black-50 : rgba($black, 0.50);
$black-40 : rgba($black, 0.40);
$black-20 : rgba($black, 0.20);
$black-10 : rgba($black, 0.10);

$blue     : #2185D5;
$blue-80  : rgba($blue, 0.80);
$blue-60  : rgba($blue, 0.60);
$blue-40  : rgba($blue, 0.40);
$blue-20  : rgba($blue, 0.20);
$blue-10  : rgba($blue, 0.10);
