.home-about {
  animation: fadein 0.5s both;
  animation-delay: 0.3s;
}

.about-text {
  color: $gray-dark-70;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 25px;
}

@media (max-width: 600px) {
  .home-about {
    display: block;
    padding-top: 10px;
  }

  .prof-img {
    margin-bottom: 20px;
    height: 200px;
  }

  .about-text-container {
    padding-left: 0;
    width: 100%;
  }
}