.article-container {
  margin-bottom: 50px;
  max-width: 700px;

  .content {
    color: $gray-dark;
    line-height: 1.7;
    margin: 0 auto;
  }
}

.article-title {
  margin-top: 40px;

  h1 {
    animation: fadein 0.5s both;
    animation-delay: 0.1s;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h2 {
    animation: fadein 0.5s both;
    animation-delay: 0.15s;
    color: $gray-dark-60;
    font-size: 20px;
  }

  p {
    animation: fadein 0.5s both;
    animation-delay: 0.2s;
    color: $gray-dark-70;
    font-size: 19px;
    line-height: 1.9;
    margin-left: auto;
    margin-right: auto;
  }

  .emphasis {
    color: $gray-dark;
  }

  .links-container {
    font-size: 18px;
    font-weight: 500;

    .link {
      margin: 0 10px;
    }
  }
}

.article-body {
  animation: fadein 0.5s both;
  animation-delay: 0.3s;
}

.article-img {
  margin-left: auto;
  margin-right: auto;
  text-align: right;

  img {
    box-shadow: 0 5px 20px $gray-dark-20;
    border-radius: 3px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-height: 500px;
  }

  label {
    color: $gray-dark-80;
    font-size: 13px;
    font-weight: 200;
    margin: 10px auto;
  }

  &.no-shadow img {
    box-shadow: none;
  }
}

.article-list {
  list-style: square;
  padding-left: 30px;
}

.article-section-title {
  color: $gray-dark;
  font-size: 22px;
  font-weight: 700;
}

.code-block {
  background: $blue-gray-10;
  color: $gray-dark-80;
  display: inline-block;
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  padding: 10px;
}
