.article-container {
  margin-bottom: 50px;
  max-width: 750px;
  padding-left: 10px;
  padding-right: 10px;
}

.article-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 24px;

  animation: fadein 0.5s both;
  animation-delay: 0.1s;
}

.section-title {
  color: $gray-dark;
  font-size: 23px;
  font-weight: 700;
  line-height: 1.7;
  margin-bottom: 16px;

  animation: fadein 0.5s both;
  animation-delay: 0.2s;
}

.article-text {
  color: $gray-dark-80;
  font-size: 21px;
  line-height: 1.5;
  margin-bottom: 32px;

  animation: fadein 0.5s both;
  animation-delay: 0.2s;

  em {
    color: $gray-dark;
    font-weight: 700;
  }
}

.article-main-img {
  margin: 100px -200px;

  animation: fadein 0.5s both;
  animation-delay: 0.4s;

  img {
    border: 1px solid $gray-dark-10;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  label {
    color: $gray-dark-80;
    font-size: 15px;
    font-weight: 200;
    margin: 10px auto;
  }
}

.project-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  margin-top: 56px;

  animation: fadein 0.5s both;
  animation-delay: 0.3s;

  &.two-col {
    grid-template-columns: 1fr 1fr;
  }

  .stat {
    width: 1fr;
  }

  .stat-label {
    color: $gray-dark;
    font-weight: 700;
  }

  p {
    color: $gray-dark-60;
    font-weight: 600;
  }
}

.article-title {
  margin-top: 40px;

  h1 {
    animation: fadein 0.5s both;
    animation-delay: 0.1s;
    font-size: 28px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  h2 {
    animation: fadein 0.5s both;
    animation-delay: 0.15s;
    color: $gray-dark-60;
    font-size: 20px;
  }

  p {
    animation: fadein 0.5s both;
    animation-delay: 0.2s;
    color: $gray-dark-70;
    font-size: 19px;
    line-height: 1.9;
    margin-left: auto;
    margin-right: auto;
  }

  .emphasis {
    color: $gray-dark;
  }

  .links-container {
    font-size: 18px;
    font-weight: 500;

    .link {
      margin: 0 10px;
    }
  }
}

.article-body {
  animation: fadein 0.5s both;
  animation-delay: 0.3s;
}

.article-2-img {
  margin: 100px -200px;

  animation: fadein 0.5s both;
  animation-delay: 0.4s;

  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  height: 350px;

  img {
    border: 1px solid $gray-dark-10;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.article-list {
  list-style: square;
  padding-left: 60px;
}

.article-section-title {
  color: $gray-dark;
  font-size: 22px;
  font-weight: 700;
}

@media (max-width: 1130px) {
  .article-main-img {
    margin-left: auto;
    margin-right: auto;
  }

  .article-2-img {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 750px) {
  .article-2-img {
    margin-top: 50px;
    margin-bottom: 50px;

    grid-template-columns: 1fr;
    row-gap: 20px;

    height: 600px;
  }
}

@media (max-width: 600px) {
  .homepage-link {
    display: inline;
  }

  .project-stats {
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-top: 36px;
  }

  .article-text {
    line-height: 1.5;
    font-size: 21px;
  }

  .article-main-img {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}