.home-container {
  max-width: 1100px;
  padding-left: 10px;
  padding-right: 10px;
}

.home-title {
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20vh;
  max-width: 760px;

  animation: fadein 0.5s both;
  animation-delay: 0.1s;

  em { color: $gray-dark; }

  .home-header {
    display: flex;
    align-items: center;
  }
}

.title-name {
  font-size: 34px;
  font-weight: 700;
}

.title-description {
  color: $gray-dark-70;
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 20px;

  em {
    font-weight: 600;
  }
}

.title-links {
  li {
    display: inline-block;
    margin-right: 32px;
  }

  a {
    color: $gray-dark;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.7;
    text-decoration: none;
    transition: 60ms;
  }
}

.work-section {
  animation: fadein 0.5s both;
  animation-delay: 0.3s;
  margin-top: 30px;
  padding-top: 30px;
}

.project {
  display: flex;
  margin-bottom: 150px;
  width: 100%;
}

.project-img {
  background: $gray-dark-20;
  border-radius: 5px;
  display: inline-block;
  height: 450px;
  width: 100%;
  overflow: hidden;
  transition: 500ms;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 500ms;
  }

  &:hover {
    box-shadow: 0px 12px 40px rgba(0,0,0,0.12);
    img {
      @include transform(scale(1.05));
    }
  }
}

.project-text {
  margin-top: 12px;
  margin-left: 48px;
  width: 400px;

  h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 12px;
  }

  p {
    color: $gray-dark-70;
    font-size: 20px;
  }
}

.project-link {
  align-items: center;
  color: $gray-dark;
  display: flex;
  font-size: 20px;
  font-weight: 600;
  margin-top: 12px;
  padding: 8px 0;

  a {
    color: $gray-dark;
    text-decoration: none;
  }

  img {
    height: 20px;
    width: 20px;
    opacity: 0.3;
    margin-left: 8px;
    transition: 400ms;
  }

  &:hover {
    img {
      @include transform(translateX(8px));
      opacity: 1;
    }
  }
}

.home-end {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  margin-bottom: 20vh;
  max-width: 500px;
  text-align: center;

  em {
    color: $gray-dark;
  }
}


@media (max-width: 1150px) {
  .project-text {
    width: 600px;
  }
}

@media (max-width: 1000px) {
  .project-img {
    height: 350px;
  }
}

@media (max-width: 760px) {
  .project {
    flex-flow: column;
    margin-bottom: 75px;
  }

  .project-img {
    height: 250px;
    margin-bottom: 16px;
  }

  .project-text {
    margin-left: auto;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .home-title {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .title-description {
    font-size: 21px;
  }

  .title-links {
    a {
      font-size: 21px;
    }
  }
}

@media (max-width: 450px) {

}
