.home-container {
  max-width: 750px;
}

/* Link Colors */
.f-link:after {
  background: rgba(#4267b2, 0.2);
}
.spotify-link:after {
  background: rgba(#1ed760, 0.2);
}

.gradescope-link:after {
  background: rgba(#1CA9C4, 0.2);
}

.cs160-link:after {
  background: rgba(52,152,219,0.2);
}

.wdd-link:after {
  background: rgba(#de6868, 0.2);
}

.bp-link:after {
  background: rgba(#017bd7, 0.2);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home-title {
  margin-top: 65px;

  h1 {
    animation: fadein 0.5s both;
    animation-delay: 0.2s;
    font-size: 34px;
    font-weight: 800;
  }

  h2 {
    animation: fadein 0.5s both;
    animation-delay: 0.25s;
    color: $gray-dark-60;
    font-size: 20px;
  }

  p {
    animation: fadein 0.5s both;
    animation-delay: 0.3s;
    color: $gray-dark-70;
    font-size: 19px;
    line-height: 1.7;
  }

  .emphasis {
    color: $gray-dark;
  }


  .social-media-container {
    animation: fadein 0.5s both;
    animation-delay: 0.35s;

    li {
      display: inline-block;
      margin-right: 12px;
      opacity: 0.6;
      transition: 100ms;

      &:hover {
        opacity: 1;
      }
    }

    a {
      border-bottom: none;
      display: inline-block;
      text-decoration: none;
    }

    img {
      transition: 100ms;
      width: 20px;
    }

    h2 {
      @extend .serif;
      font-size: 13px;
      margin-top: 5px;
    }
  }

  .links-container {
    animation: fadein 0.5s both;
    animation-delay: 0.35s;
    font-size: 18px;
    font-weight: 500;

    .link {
      margin: 0 10px;
    }
  }
}

.section-title {
  font-size: 21px;
  font-weight: 800;
  position: relative;
}

.title--line-under:after {
  background: $gray-dark-80;
  bottom: -17px;
  content: "";
  height: 5px;
  left: 50%;
  position: absolute;
  width: 30px;
  @include transform(translateX(-50%));
}

.home-work {
  animation: fadein 0.5s both;
  animation-delay: 0.45s;
  margin-top: 30px;
  padding-top: 30px;

  h1 {
    animation: fadein 0.5s both;
    animation-delay: 0.4s;
  }
}

.work-grid {
  display: flex;
  flex-flow: row;
  margin-left: -20px;
  margin-right: -20px;
}

.work-item {
  color: inherit;
  flex: 1;
  margin: 5px;
  margin-bottom: 25px;
  padding: 15px;
  position: relative;
  text-decoration: none;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;

  h2 {
  font-size: 20px;
  font-weight: 600;
  margin-left: 5px;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  }

  h3 {
    @extend .serif;
    color: $gray-dark-60;
    font-size: 15px;
    margin-left: 5px;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
  }

  &:after {
    background: $blue-gray-10;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 100ms;
    width: 100%;
    z-index: -1;
    @include transform(scale(0.9));
  }

  &:hover:after {
    opacity: 1;
    @include transform(scale(1));
  }
}

.work-item.empty-item:after {
  content: none;
}

.other-work {
  .work-item {
    h2 {
      font-size: 17px;
      font-weight: 500;
    }

    h3 {
      font-size: 14px;
    }
  }

  .work-item-img {
    height: 130px;
  }

  .work-icon {
    width: 45px;
    height: 45px;
  }
}

.work-item-img {
  background: $blue-gray-20;
  border-radius: 2px;
  height: 170px;
  margin-bottom: 15px;
  overflow: hidden;
  position: relative;
  width: 100%;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &:before {
    background: transparent;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.work-icon {
  background-size: cover;
  background-repeat: no-repeat;
  height: 55px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 55px;
  @include transform(translateX(-50%) translateY(-50%));
}

.home-about {
  animation: fadein 0.5s both;
  animation-delay: 0.5s;
  margin-top: 20px;
  padding-top: 20px;
}

.about-text {
  @extend .serif;
  color: $gray-dark-70;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 25px;
}

.fb-white-photo {
  position: relative;
  z-index: 2;
  transition: 150ms;
}

.fb-blue-photo {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Special styles for projects */
.facebook-item .work-item-img {
  background-color: #EDF2FA;
  transition: 120ms;
}

.facebook-item:hover {
  .fb-thumb-icon {
    transform: translateX(-50%)
               translateY(-65%)
               rotate(-10deg);
  }

  .work-item-img {
    background-color: #4267B2;
  }
}

.fb-thumb-icon {
  background-image: url("../images/icons/thumb.png");
  width: 65px;
  transition: 120ms;
}

.spotify-item {
  .work-item-img:before {
    background: -moz-linear-gradient(-45deg, #2B44A6 0%, #2FE48F 100%);
    background: -webkit-linear-gradient(-45deg, #2B44A6 0%,#2FE48F 100%);
    background: linear-gradient(135deg, #2B44A6 0%,#2FE48F 100%);
    opacity: 0.7;
  }
}

.spotify-icon {
  background-image: url("../images/icons/spotify-white.png");
}

.gs-item {
  .work-item-img {
    background: url("../images/home/gs-bg.png");
  }
}

.gs-icon {
  background-image: url("../images/icons/gradescope-white.png");
}

.bp-item:hover {
  .bp-icon {
    transform: translateX(-50%)
               translateY(-50%)
               rotate(180deg);
  }
}

.bp-icon {
  background-image: url("../images/icons/bp.png");
  transition: 700ms;
}

.wdd-item {
  .work-item-img:before {
    background: -moz-linear-gradient(-45deg, #2B44A6 0%, #2FE48F 100%);
    background: -webkit-linear-gradient(-45deg, #2B44A6 0%,#2FE48F 100%);
    background: linear-gradient(135deg, rgba(#de6868, 0.1), rgba(#de6868, 0.8));
  }
}

@media (max-width: 800px) {
  body {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 600px) {
  .home-title {
    margin-top: 40px;

    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 20px;
    }

    p {
      font-size: 17px;
      margin-top: 30px;
      text-align: left;
    }
  }

  .home-work {
    margin-top: 20px;
  }

  .work-item {
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .home-about {
    padding-top: 20px;
  }

  .inline-link {
    border-bottom: 2px solid $blue-gray-80;

    &:after {
      display: none;
    }
  }

  .facebook-link {
    border-bottom: 2px solid rgba(#4267b2, 0.7);
  }
  .spotify-link {
    border-bottom: 2px solid rgba(#1ed760, 0.7);
  }

  .gradescope-link {
    border-bottom: 2px solid rgba(#1CA9C4, 0.7);
  }

  .cs160-link {
    border-bottom: 2px solid rgba(52,152,219, 0.7);
  }

  .wdd-link {
    border-bottom: 2px solid rgba(#de6868, 0.7);
  }

  .bp-link {
    border-bottom: 2px solid rgba(#017bd7, 0.7);
  }

  .social-media-container {
    a { border-bottom: 0; }
    h2 { display: none; }
  }
}

@media (max-width: 450px) {
  .work-grid {
    flex-flow: row wrap;
  }

  .work-item {
    flex: initial;
  }
}
