.interview-container {
  font-size: 19px;
  line-height: 1.6;

  .h2 {
    font-weight: 500;
  }

  .h3 {
    font-size: 18px;
    font-weight: 500;
  }

  ul {
    padding-left: 35px;
    li {
      list-style: square;
    }
  }

  hr {
    border-color: $gray-dark-20;
  }
}

p {
  margin-bottom: 20px;
}

.greeting {
  margin-bottom: 40px;
}

.interview-welcome--emoji {
  animation: wave 0.5s both;
  animation-iteration-count: 3;
  display: inline-block;
  height: 40px;
  margin-left: 20px;
  width: 40px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

@keyframes wave {
  0% {
    @include transform(rotate(30deg));
  } 50% {
    @include transform(rotate(-20deg) translateX(-20px) translateY(10px));
  } 100% {
    @include transform(rotate(30deg));
  }
}

.spotify {
  margin-top: 60px;
}

.artist-playlist-problem {
  .problem-title {

  }
}

.framer {
  width: 100%;
  height: 90vh;
}

.p-em {
  color: $blue;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.4;
}

.problem-section {
  padding: 50px 0;
}

.hypothesis-section {
  padding: 20px 0 60px;
}

.design-sprint-section {
  padding: 70px 0 40px;
}

.img-container {
  border-radius: 3px;
  box-shadow: 0 0 20px $gray-dark-20;
  overflow: hidden;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}

.video-prototype-images {
  display: flex;
  flex-flow: row;
  margin: 0 auto;
  max-width: 1000px;

  .img-container {
    display: inline-block;
    margin: 0 10px;

    img { height: auto; }
  }
}

.audio-gif-container {
  display: flex;
  flex-flow: row;
  padding: 40px 0;

  .gif-container {
    width: 375px;
    margin-left: 50px;

    img {
      width: 375px;
    }
  }

  .description {
    width: calc(100% - 375px);
  }
}
