.splash-container {
  margin: 40px auto;
  margin-top: 80px;
  max-width: 700px;
}

.splash-description {
  color: $gray-dark-80;
  font-size: 18px;
  line-height: 1.6;
  margin-top: 40px;
  margin-bottom: 30px;
}

.splash-links-container {
  margin-bottom: 100px;

  .link {
    margin: 0 10px;
  }

  a { vertical-align: middle; }
  a:first-of-type { margin-left: 0; }
}

.social-icons {
  margin-top: 35px;
  @include clearAfter;
}

.sm-icon {
  display: inline-block;
  float: left;
  height: 20px;
  opacity: 0.6;
  width: 34px;
  padding: 0 7px;
  transition: 150ms;

  img {
    height: 100%;
    width: 100%;
  }

  &:first-of-type { padding-left: 0; }
  &:hover { opacity: 1; }
}

.project-container {
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px;
  overflow: hidden;
  position: relative;
  transition: $splash-transition;

  /* hacky method to prevent text flickering */
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
}

.project--half {
  float: left;
  overflow: hidden;
  width: 50%;
}

.project-title {
  color: $gray-dark;
  font-weight: 600;
}

.project-role {
  color: $gray-dark-80;
}

.project-description {
  color: $gray-dark-80;
  margin: 20px 0;
}

.project-background {
  border-radius: 3px;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: $splash-transition;
  z-index: -1;
  @include transform(scale(0.95));
}

.logo-container {
  float: left;
  margin-right: 15px;
  margin-top: 6px;
  height: 40px;
  position: relative;
  width: 40px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    transition: $splash-transition;
  }

  .hovered { opacity: 0; }
}

/* Spotify project background styles */
.spotify-project .project-background {
  -webkit-backface-visibility: hidden;
  background: -moz-linear-gradient(-45deg, #2B44A6 0%, #2FE48F 100%);
  background: -webkit-linear-gradient(-45deg, #2B44A6 0%,#2FE48F 100%);
  background: linear-gradient(135deg, #2B44A6 0%,#2FE48F 100%);
}

.spotify-project:hover {
  color: white;
}

/* Gradescope project background styles */
.gradescope-project .project-background {
  background: url("../images/gs-bg.png");
}

.gradescope-project:hover {
  color: white;
}

/* Blueprint animation styles */
.bp-project {

  .logo-container {
    position: absolute;
  }

  .project-title,
  .project-role {
    transition: $splash-transition;
  }
}

.bp-logo {
  @include transform(rotate(-180deg));
  opacity: 0;
  transition: 400ms;
}

.other-projects-header {
  color: $gray-dark-60;
  margin-bottom: 20px;
}

.other-projects-list {
  margin-bottom: 140px;

  li { margin-bottom: 40px; }
  label { color: $gray-dark-80; }
}

.other-project-title {
  margin-right: 20px;
}

.other-projects-description {
  margin-top: 10px;
}

@media (max-width: 500px) {
  .all-projects {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .project-container {
    margin-bottom: 50px;
    padding: 0;
  }

  .other-projects-list {
    label {
      display: block;
    }

    .other-project-title {
      display: inline-block;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 750px) {
  .splash-container {
    margin: 30px auto;
    max-width: 500px;
  }

  .splash-links-container {
    margin-bottom: 50px;
  }

  .project--half {
    width: 100%;
  }
}

/* Only show hover effects on desktop */
@media (min-width: 600px) {
  .project-container:hover {

    .project-background {
      opacity: 1;
      @include transform(scale(1) rotate(0.01deg));
    }

    .background--gray {
      background: $blue-gray-20;
    }

    .logo-container .hovered { opacity: 1; }
    .logo-container .default { opacity: 0; }
  }

  .project--hover-white-text:hover {

    .project-title,
    .project-description {
      color: white;
    }

    .project-role { color: $white-80; }

    .link {
      border-bottom-color: $white-40;
      color: white;

      &:hover:before {
        background: $gray-light;
        color: $gray-dark;
      }

      &:hover {
        color: $gray-dark;
      }
    }
  }

  .project--hover-white-text .link:hover {
    border-bottom-color: transparent;
  }

  .bp-project:hover {
    .project-title,
    .project-role {
      @include transform(translateX(55px));
    }

    .bp-logo {
      @include transform(rotate(0deg));
      opacity: 1;
    }
  }
}
