.social-media-container {
  animation: fadein 0.5s both;
  animation-delay: 0.4s;
  border-top: 1px solid $gray-dark-20;
  padding: 20px 0;

  li {
    display: inline-block;
    font-size: 15px;
    margin-right: 12px;
    opacity: 0.6;
    transition: 100ms;
  }

  a {
    border-bottom: none;
    color: inherit;
    display: inline-block;
    text-decoration: none;

    &:hover {
      @extend .link;
    }
  }
}