.social-media-container {
  border-top: 1px solid $gray-dark-20;
  padding: 20px 0;

  li {
    display: inline-block;
    font-size: 17px;
    font-weight: 600;
    margin-right: 12px;
    opacity: 0.7;
    transition: 100ms;
  }

  a {
    border-bottom: none;
    color: inherit;
    display: inline-block;
    text-decoration: none;

    &:hover {
      @extend .link;
    }
  }
}